#IDEs
*.code-workspace
.vscode/*

#build
firmware/make/build/*
firmware/make/bin/*

# TODO
todo.md

# Media
media/*

# Hardware
hardware/beepyRcBrd/*~*
hardware/beepyRcBrd/beepyRCBrd-backups/*
hardware/beepyRcBrd/*-bak
